<section class="tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}" data-drop-area="true">

    {{> "systems/worldofdarkness/templates/items/parts/splat-bio-fields.hbs"}}

</section>
